<!DOCTYPE HTML>
<HTML lang="en">
<head>
    <title> 404 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<%- include('navbar') %>
<div class="container-fluid">
    <h1>Oopsy...I'm a Teapot!</h1>
</div>
</body>
</html>
